<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicolas.ccontrol" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".diagramActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity
            android:name=".addCatActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".itemActivity" />
        <activity android:name=".sorceActivity" />
        <activity
            android:name=".addItemActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".changeItemActivity" />
        <activity android:name=".getImageActivity" />
        <activity android:name=".imageActivity" >
        </activity>
    </application>

</manifest>
